<header>

    <h1><span class="orange">Add your Meow</span></h1>

</header>

<div class="container">
    <div class="span4 offset4">
    <form method="post" enctype="multipart/form-data" action="/upload">
        <div class="form-group">
            <label for="name">Meow Name:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group" style="padding-bottom: 10px">
            <label for="photo">Meow Photo:</label>
            <input type="file" class="form-control" id="photo" name="file">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
        </div>
</div>
